<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380166874371-ubqtrk03m4ss9p4f3u9pkpufod89bd29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380166874371-ubqtrk03m4ss9p4f3u9pkpufod89bd29</string>
	<key>API_KEY</key>
	<string>AIzaSyDOnbsGDb0THup8bT4Kapplso0ibezLKsI</string>
	<key>GCM_SENDER_ID</key>
	<string>380166874371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmetcanpoyraz.SpaceXFanApplication</string>
	<key>PROJECT_ID</key>
	<string>spacexfanapplication-550d3</string>
	<key>STORAGE_BUCKET</key>
	<string>spacexfanapplication-550d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380166874371:ios:3a3449a55c708d49923536</string>
</dict>
</plist>